{% extends 'base.html.twig' %}

{% block title %}Liste des marques{% endblock %}

{% block style %}{{ asset('css/styleBack.css') }}{% endblock %}

{% block body %}
{% include '/back/partials/_nav_back.html.twig' %}
    <h1>Brand</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
            </tr>
        </thead>
            <tr>
                <th scope="row">{{ brand.id }}</th>
                <td>{{ brand.name }}</td>
            </tr>
    </table>

    <a href="{{ path('app_back_brand_index') }}">back to list</a>

    <a href="{{ path('app_back_brand_edit', {'id': brand.id}) }}">edit</a>

    {{ include('back/brand/_delete_form.html.twig') }}
{% endblock %}
