{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block style %}{{ asset('css/styleBack.css') }}{% endblock %}

{% block body %}

    {% include '/back/partials/_nav_back.html.twig' %}
        <div id="layoutSidenav_content">
            <main>
                <h1 class="text-center">Voici un apperçu de vos utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="thead-dark">Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('app_back_user_edit', {'id': user.id}) }}">Editer</a>
    <a class="btn btn-primary" href="{{ path('app_back_user_index') }}">Retour à la liste</a>

{% include '/back/partials/_footer.html.twig' %}
{% endblock %}
