{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le project MyCar
{% endblock %}

{% block body %}

		{% include "main/partials/_nav_front.html.twig" %}
		
 
      <main>

        <section class="py-lg-5">
            <div class="container px-4 px-lg-5 my-lg-5 bg-light">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ asset('img/audi.jpg') }}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">{{ car.modele }}</h1>
                        <div class="fs-5 mb-1">
                            <span>Prix:</span>
                            <span>$40.00</span>
                        </div>
                        <div class="fs-5 mb-1">
                            <span>Motorisation:</span>
                            <span>{{ car.fuel }}</span>
                        </div>
                        <div class="fs-5 mb-1">
                            <span>Portes:</span>
                            <span>{{ car.door }}</span>
                        </div>
                        <div class="fs-5 mb-5">
                            <span>Sortie le:</span>
                            <span>{{ car.releaseDate|date('d-m-Y') }}</span>
                        </div>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                        <div class="d-flex justify-content-center">

                            <button class="btn btn-outline-dark flex-shrink-0 contact" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Contactez nous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>






      </main>
      <footer class="bg-dark mb-0">
        
          
            <h3 class="text-light text-center mt-3 mb-0">MyCar.com</h3>
        
            

      </footer>
{% endblock %}
