{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le project MyCar{% endblock %}

{% block style %}
    {{ asset('css/styleBack.css') }}
{% endblock %}

{% block body %}

    {% include '/back/partials/_nav_back.html.twig' %}
            <div id="layoutSidenav_content">
                <main class="mb-3">
                    <div class="container-fluid px-4">
                        <h1 class="text-center mt-4">Vous allez ajouter un véhicule</h1>
                            <div class="row">

                                {{ form_start(form) }}

                                    {{ form_widget(form) }}

                                    <button type="submit" class="btn btn-success">Enregistrer</button>

                                <a class="btn btn-primary w-auto" href="{{ path('app_back_main') }}">back to list</a>
                                {{ form_end(form) }}

          
                            </div>
                    </div>
{% include '/back/partials/_footer.html.twig' %}
{% endblock %}
