{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le project MyCar{% endblock %}

        {% block style %}
        {{ asset('css/styleBack.css') }}
        {% endblock %}


{% block body %}
{% include '/back/partials/_nav_back.html.twig' %}



            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Vous allez modifier un modèle</h1>

                        <div class="row">

{{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">Enregistrer</button>

{{ form_end(form) }}
                            <a href="{{ path('app_back_user_index') }}">back to list</a>
          
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Réalisé par Poltorak Mathieu</div>
                        </div>
                    </div>
                </footer>
            </div>


        <script src="{{ asset('js/script.js') }}"></script>













{% endblock %}
