{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le project MyCar{% endblock %}

        {% block style %}
        {{ asset('css/styleBack.css') }}
        {% endblock %}


{% block body %}
{% include '/back/partials/_nav_back.html.twig' %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Vous allez modifier un modèle</h1>

                        <div class="row">

{{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">Enregistrer</button>

    <a class="btn btn-primary" href="{{ path('home') }}">Retour à la liste</a>
{{ form_end(form) }}
          
                        </div>
                    </div>
{% include '/back/partials/_footer.html.twig' %}

{% endblock %}
